SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_TIMEOUT=10
DEFAULT_FROM_EMAIL=Recambios Tecnicos <noreply@recambiostecnicos.example>
SERVER_EMAIL=server@recambiostecnicos.example
INQUIRY_INTERNAL_NOTIFICATION_EMAILS=sales@recambiostecnicos.example
INQUIRY_CUSTOMER_REPLY_TO_EMAIL=atencion@recambiostecnicos.example,operaciones@recambiostecnicos.example
PUBLIC_BASE_URL=http://127.0.0.1:8000
SITE_BRAND_NAME=motonsek
SITE_BRAND_NAME_ES=motonsek
SITE_BRAND_NAME_EN=motonsek
SITE_BRAND_LOGO_LIGHT=img/logo_min_alfa.png
SITE_BRAND_LOGO_DARK=img/logo_min_alfa_white.png
SITE_CHROME_VARIANT=light
SITE_CHROME_BG_LIGHT=#f7fbff
SITE_CHROME_BG_DARK=#557873
#SITE_COLOR_PALETTE=petrol-sand|industrial-blue|charcoal-teal|navy-lime
SITE_COLOR_PALETTE=navy-lime
SITE_HERO_VARIANT=light
#SITE_FOOTER_VARIANT=inherit|light|dark
SITE_FOOTER_VARIANT=dark
#SITE_FOOTER_BG= (si pones color, sobrescribe el fondo del footer)
SITE_FOOTER_BG=#557873
